export PATH=/usr/local/bin:/usr/local/sbin:$PATH
export C_INCLUDE_PATH=/usr/local/Cellar/libxml2/2.9.2/include/libxml2:$C_INCLUDE_PATH

# setting env variables
export DJANGO_ENVIRONMENT="dev"

# setting virtualenv variables 
export WORKON_HOME=$HOME/.virtualenvs
export PROJECT_HOME=$HOME/Devel

# Prefer US English and use UTF-8.
export LC_ALL=en_US.UTF-8
export LANG=en_US.UTF-8
